{{> head}}
{{> header}}
<div class='container-fluid'>
    <div class='row'>
        <nav class='col-3'>
            {{> nav}}
        </nav>
        <main class-'col-9'>
            <h1>Welcome</h1>
            <p>This is an experimental NODE.JS application that I am creating as a learning experience</p>

            <p>It also happens to be my very first NODE.JS app where I am exploring how to use express to serve my application.</p>
            
            <h3>Projects</h3>
            <ul>
                <li></li>
            </ul>
        </main>
    </div>
</div>
{{> footer}}
